<style type="text/css">
    .application-list-item {
        background-color: #fff;
        border: 1px solid #e8e8e8;
        border-radius: 4px;
        cursor: pointer;
        transition: all .2s;
    }

    .application-list-item:hover {
        box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    }

    .application-list-item .application-list-item-header {
        padding: 16px 12px 0 12px;
    }

    .application-list-item .application-list-item-header .head {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .application-list-item .application-list-item-header > h2 {
        color: #333;
        font-size: 18px;
        display: inline-block;
    }

    .application-list-item .application-list-item-body {
        padding: 12px 12px 12px 50px;
        font-size: 0;
    }

    .application-list-item .application-list-item-body .text-num-item {
        display: inline-block;
        width: 50%;
        font-size: 26px;
        color: #666;
    }

    .application-list-item .application-list-item-body .text-num-item .text-num-item-title {
        font-size: 12px;
        color: #999;
        margin-bottom: 10px;
    }

    .application-list-item .application-list-item-body .text-num-item small {
        font-size: 16px;
    }

    .application-list-item .application-list-item-tool {
        font-size: 0;
        background-color: #FAFAFA;
        border-top: 1px solid #e8e8e8;
        padding: 10px 0 5px 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .application-list-item .application-list-item-tool .application-list-item-tool-item {
        display: inline-block;
        width: 25%;
        font-size: 18px;
        text-align: center;
        color: #999;
        border-right: 1px solid #e8e8e8;
        box-sizing: border-box;
        cursor: pointer;
    }

    .application-list-item .application-list-item-tool .application-list-item-tool-item:last-child {
        border-right: none;
    }

    /** // 应用列表样式结束 */
    .boxes {
        display: table;
        width: 100%;
        height: 100%;
    }

    .box {
        display: table-cell;
        text-align: left;

    }

    .tr {
        display: table-row;
    }

    .item {
        width: calc(223 / 1615 * 100%);
        float: left;
        position: relative;
        display: block;
        box-sizing: border-box;
        margin-left: 7px;
        margin-bottom: 5px;
    }

    .item:nth-child(1), .item:nth-child(8), .item:nth-child(15) {
        margin-left: 0;
    }

</style>
<div class="layui-fluid">

    <!-- 表格顶部工具栏 -->
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">股票选择:</label>
                <div class="layui-input-inline">
                    <div class="dropdown-menu" id="conditionMenu">
                        <input name="code" id="conditionInput" lay-verType="message" autocomplete="off"
                               lay-verify="required" class="layui-input" placholder="请输入股票代码" type="text" required>
                        <ul class="dropdown-menu-nav" id="conditionCodeSelect">
                        </ul>

                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">选择日期:</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="date" id="dateChange" autocomplete="off"
                           placeholder="选择日期"/>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn icon-btn" lay-filter="eminSearch" lay-submit>
                    <i class="layui-icon">&#xe615;</i>搜索
                </button>
            </div>
        </div>
    </div>
    <div class="layui-tab-item layui-show">
        <table id="minKlineTable" lay-filter="minKlineTable"></table>
    </div>


</div>


<script>
    layui.use(['layer', 'form', 'table', 'element', 'setter', 'dropdown', 'dataGrid', 'laydate'], function () {
        let $ = layui.jquery;
        let layer = layui.layer;
        let form = layui.form;
        let table = layui.table;
        let util = layui.util;
        let admin = layui.admin;
        let date = layui.laydate;
        let setter = layui.setter;
        let dataGrid = layui.dataGrid;
        setter.baseServer = '';

        // toolbar event listen
        form.render();

        // 行数据换颜色
        function Layui_SetDataTableRowColor(DivId, RowIndex, Color) {
            try {
                var div = document.getElementById(DivId);
                if (div != null) //找到对象了
                {
                    var trs = $(".layui-table-body.layui-table-main tr");// 行数据
                    if (trs != null && trs.length > 0) {
                        trs[RowIndex].style.color = Color;//字体颜色 
                    }
                }
            } catch (e) {
                console.log(e.message);
            }
        }

        let kLineTableModelConfig = {
            elem: '#minKlineTable',
            id: 'Reload',
            page: true,
            sort: true,
            autoSort: false,
            size: 0,
            url: setter.djangoAPI + 'minKline/',
            where: {'code': 'US.AAPL', 'date': '', 'token': setter.getToken(), field: '', order: '',TrdEnv:setter.TrdEnv},
            limit: 15,
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers'},
                {field: 'stat_day', title: '日期', align: 'left', sort: true},

                {field: 'code', title: '代码', align: 'left'},
                {field: 'stock_name', title: '名称', align: 'left'},
                {field: 'close', title: '收盘价', align: 'left', sort: true},
                {field: 'change', title: '涨跌额', align: 'left', sort: true},
                {
                    field: 'change_rate', title: '涨跌幅', align: 'left', sort: true, templet: function (d) {
                        return d.change_rate + '%';
                    }
                },
                {field: 'volume', title: "成交量", align: 'left', sort: true},
                {field: 'turnover', title: '成交额', align: 'left', sort: true},
            ]],
            done: function (res, curr, count) {
                persons = res.data
                for (var i = 0; i < persons.length; i++) {
                    if (persons[i].change_rate > 0)
                        Layui_SetDataTableRowColor('minKlineTable', i, '#f54545');
                    else
                        Layui_SetDataTableRowColor('minKlineTable', i, '#0f990f');
                }
            }
        };

        // simulate data;

        // personalize collective
        // input code name for query
        // listen search input code event

        // 排序工具 改为监听，并reload table
        table.on('sort(minKlineTable)', function (obj) {
            table.reload('Reload', {
                    initSort: obj,
                    where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                        field: obj.field //排序字段   在接口作为参数字段  field order
                        , order: obj.type //排序方式   在接口作为参数字段  field order
                    }
                }
            );
            return false;
        });


        let $repeat = 0; // modify time
        let $timeout = undefined;
        // listen search input code event
        $('#conditionInput').bind('input oinput', function () {
            let input = this;
            if ($repeat === 0) {
                $repeat = 1;
                $timeout = window.setTimeout(function () {
                    get_search_stock_name(input);
                    $repeat = 0;
                }, 300)
            } else {
                window.clearTimeout($timeout);
                $timeout = window.setTimeout(function () {
                    get_search_stock_name(input);
                    $repeat = 0;
                }, 300)
            }
        })


        // get_search_stock_name('')
        function get_search_stock_name(input) {
            let value = input.value;
            admin.req(setter.djangoAPI + 'getFollowStock/', {
                word_or_name: value, limit: 15,
                page: 1,
                TrdEnv:setter.TrdEnv,
                token:setter.getToken()
            }, function (res) {
                let code = res.code;
                if (code === 0) {
                    let data = res.data;
                    let drop_menu = $('#conditionMenu')
                    $('#conditionCodeSelect').empty()
                    for (let i = 0; i < data.length; i++) {
                        let li = $('<li><a>' + data[i][0] + ' ' + data[i][1] + '</a></li>');
                        li.click(function () {
                            input.value = data[i][0];
                            drop_menu.removeClass('dropdown-open');
                        })
                        $('.dropdown-menu-nav').append(li);
                    }
                }
            })
        }

        // 页面首次加载
        function get_search_stock_name_first(input) {
            let value = input.value;
            admin.req(setter.djangoAPI + 'getFollowStock/', {
                word_or_name: value,
                limit: 15,
                page: 1,
                TrdEnv:setter.TrdEnv,
                token:setter.getToken()
            }, function (res) {
                let code = res.code;
                if (code === 0) {
                    let data = res.data;
                    let drop_menu = $('#conditionMenu')
                    $('#conditionCodeSelect').empty()
                    for (let i = 0; i < data.length; i++) {
                        let li = $('<li><a>' + data[i][0] + ' ' + data[i][1] + '</a></li>');
                        li.click(function () {
                            input.value = data[i][0];
                            drop_menu.removeClass('dropdown-open');
                        })
                        $('.dropdown-menu-nav').append(li);
                    }
                    $('#conditionInput').val(data[0][0]);

                    // 填充最近的工作日
                    date.render({
                        elem: '#dateChange',
                        value: new Date()
                    })
                    let today = $('#dateChange').val()

                    if(isWeekEnd(today)){
                        console.log(today)
                        layer.msg('当前日期为周末')
                    }else{
                        kLineTableModelConfig.where.date =today
                        table.render(kLineTableModelConfig);
                    }
                }
            })
        }

        get_search_stock_name_first({'value': ''})
        $("#conditionCodeSelect").click(function (event) {
            let code_name = event.target.innerText;
            let code = code_name.split(' ')[0]
            $("#conditionInput").val(code);
        });

        // 判断日期是否为周末
        function isWeekEnd(date) {
            if ("天一二三四五六".charAt(new Date(date).getDay()) == "天") return true;
            if ("天一二三四五六".charAt(new Date(date).getDay()) == "六") return true;
        }



        // submit event
        form.on('submit(eminSearch)', function (data) {
            let code = $('#conditionInput').val();
            let date = $('#dateChange').val()

            // 判断是否为周末，不进行查询
            if (isWeekEnd(date)) {
                layer.msg('当前日期为周末')
            } else {
                kLineTableModelConfig.where.code=code;
                kLineTableModelConfig.where.date=date;
                kLineTableModelConfig.where.field='';
                kLineTableModelConfig.where.order='';
                kLineTableModelConfig.page={curr:1};
                kLineTableModelConfig.iniiSort={
                        field: 'stat_day' //排序字段，对应 cols 设定的各字段名
                        , type: 'asc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
                    }

                table.render(kLineTableModelConfig);
            }


        })

    })
</script>